.newsProjectTitle {
  font-size: 5em;
  font-weight: 700;
  line-height: 1.1;
  color: #333333;
}

.newsProjectSubTitle {
  font-size: 1.5em;
  font-weight: 400;
  line-height: 1.1;
  color: #333333;
}

.newContainer {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
}

.newContainer hr {
  border-color: #333333;
}

.newContainer img {
  max-width: 200px;
  margin-right: 20px;
  pointer-events: none;
}

.newPageTitle {
  font-size: 2em;
  font-weight: 600;
  color: #333333;
  cursor: pointer;
  line-height: 1.1em;
}

.newPageTitle:hover {
  color: #003049;
}

.newLink {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 16%;
  background-color: #333333;
  color: white;
  padding: 5px;
  border-radius: 5px;
  margin-top: 10px;
  float: right;
  width: fit-content;
}

.newLink span {
  margin-right: 5px;
}

.newLink:hover {
  background-color: #003049;
}
